body{
  margin: 0;
  padding: 0;
  font-family: 'Nunito';
  background: lightblue;
}
img{
  width: 200px;
  display: block;
  margin: 0 auto;
  padding-top: 10px;
  margin-bottom: 30px;
}
h1{
  font-size: 30px;
  width: 100%;
  text-align: center;
  margin-bottom: 100px;
  color: navy;
}
p{
  font-size: 20px;
  width: 100%;
  text-align: center;
  margin-bottom: 30px;
  color: white;
}
button{
  width: 350px;
  height: 100px;
  border: none;
  font-size: 24px;
  background-color: navy;
  color: white;
  display: block;
  margin: 0 auto;
  border-radius: 5px;
  cursor: pointer;
  margin-bottom: 5px;
  font-family: 'Nunito';
}